button {
  width: clamp(170px, 38%, 260px);
  height: 70px;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  /* text-transform: uppercase; */
}

button:hover {
  background-color: #00471b;
}

.boton-clic {
  background-color: #002ead;
}

.boton-reiniciar {
  background-color: #5a01a7;
}